<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="nama" placeholder="Nama" required />
      <input type="email" name="email" placeholder="Email" required />
      <select name="jenis_kelamin" required>
        <option value="L">laki-laki</option>
        <option value="P">Perempuan</option>
      </select>
      <input type="date" name="tanggal_reservasi" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
